{{{master_page_template_content_top}}}
{{> fields/email}}
{{> terms}}
<button type="submit" class="ssButton ssButtonPrimary ssLoginButton">
    Continue
</button>
{{{master_page_template_content_bottom}}}

<h1>Settings</h1>
{{#each settings}}
    <p>{{key}}</p>
{{/each}}

<h1>Matchups</h1>

{{#each matchups}}  
    <h2>{{name}}</h2>
    <p>Start Date: {{start_date}}</p>
    <p>End Date: {{end_date}}</p>
{{/each}}

<h1>Forms</h1>
<hr/>
{{#each forms}}
    <h1>{{name}}</h1>
    {{#each nestedGroups}}
        <h2>Form Field Group: {{name}}</h2>
        {{#each nestedFormFields}}
            <h3>Form Field: {{id}}</h3>
            <h4>Field: {{nestedField.name}}</h4>
        {{/each}}
    {{/each}}
{{/each}}