{{{master_page_template_content_top}}}
{{#if isActive}}
    {{> fields/email}}
    {{> terms}}
    <button type="submit" class="ssButton ssButtonPrimary ssLoginButton">
        Continue
    </button>
{{else}}
    {{#if nextRoundStart}}
        <p>You can enter starting {{nextRoundStart}}</p>
    {{else}}
        <p>Sorry, the contest is over!</p>
    {{/if}}
{{/if}}

{{{master_page_template_content_bottom}}}

<h1>Settings</h1>
{{#each settings}}
    <p>{{key}}</p>
{{/each}}

<h1>Forms</h1>
<hr/>
{{#each forms}}
    <h1>{{name}}</h1>
    {{#each nestedGroups}}
        <h2>Form Field Group: {{name}}</h2>
        {{#each nestedFormFields}}
            <h3>Form Field: {{id}}</h3>
            <h4>Field: {{nestedField.name}}</h4>
        {{/each}}
    {{/each}}
{{/each}}