{{{master_page_template_content_top}}}
{{#if isActive}}
    {{> fields/email}}
    <div class="ssFormPart">
        {{{translate 'agree_to_terms'}}}
    </div>
    <button type="submit" class="ssButton ssButtonPrimary ssLoginButton">
        {{translate 'continue'}}
    </button>
{{else}}
    {{#if nextRoundStart}}
        <p>{{translate 'next_entry_interval_start_teaser' '{{date}}' nextRoundStart}}</p>
    {{else}}
        <p>{{translate 'promo_header_after_over'}}</p>
    {{/if}}
{{/if}}

{{{master_page_template_content_bottom}}}

<h1>Forms</h1>
<hr/>
{{#with entryForm}}
    <h1>{{name}}</h1>
    {{#each nestedGroups}}
        <h2>Form Field Group: {{name}}</h2>
        {{#each nestedFormFields}}
            <h3>Form Field: {{id}}</h3>
            <h4>Field: {{nestedField.name}}</h4>
        {{/each}}
    {{/each}}
{{/with}}

{{#with registrationForm}}
    <h1>{{name}}</h1>
    {{#each nestedGroups}}
        <h2>Form Field Group: {{name}}</h2>
        {{#each nestedFormFields}}
            <h3>Form Field: {{id}}</h3>
            <h4>Field: {{nestedField.name}}</h4>
        {{/each}}
    {{/each}}
{{/with}}